@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@700&display=swap');

#container{
    margin: 0;
    padding: 0;
}

#title {
    color: white;
    font-size: 60px;
    padding : 5px 0px 10px 10px;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1 93 121);
}

#score-container{
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: monospace;
    background-color: lightgreen;
}

#score-container p{
    justify-self: center;
    font-weight: bold;
}

#card-container{
    padding: 5%;
    background-color: lightgreen;
}


#card{
    display: grid;
    background-color: white;
    justify-content: center;
    padding: 10%;
    padding-bottom: 5%;
    box-shadow: 5px 10px 20px hsl(0deg 0% 0% / 1);
}

#card div{
    height: 210px;
}

#card img{
    height: 210px;
    margin: 0;
}

#card p{
    color: rgb(1 93 121);
    font-size: 30px;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer{
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
}

#footer button{
    font-size: 20px;
    width: 50%;
    height: 80px;
}

#game-over {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    margin:0;
    height: 70vh;
    font-size: 60px;
    align-items: center;
    justify-content: space-evenly;
}

#reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: darksalmon;
    border-radius: 50%;
    box-shadow: 3px 8px 5px hsl(0deg 0% 0% / 1);
}

#reset-button img{
    padding: 5%;
    height: 50px
}